body {
  background-color: #f0f2f5; /* হালকা ধূসর একটি ব্যাকগ্রাউন্ড */
  color: #333; /* লেখার জন্য একটি আরামদায়ক রঙ */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}